<div class="flex items-center justify-center min-h-screen px-5 py-5 bg-white min-w-screen">
  <div class="w-full overflow-hidden text-gray-500 bg-gray-100 shadow-xl rounded-3xl" style="max-width: 1000px">
    <div class="w-full md:flex">
      <div class="hidden w-1/2 px-10 py-10 bg-indigo-500 md:flex md:justify-center">
        <img ngSrc="/assets/images/user.svg" height="747" width="744" />
      </div>

      <div class="w-full px-5 py-10 md:w-1/2 md:px-10">
        <div class="mb-10 text-center">
          <h1 class="text-3xl font-bold text-gray-900">REGISTER</h1>
          <p>Enter your information to register</p>
        </div>
        <form [formGroup]="signUpForm" #form="ngForm" (ngSubmit)="submit()">
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <label for="full_name" class="px-1 text-xs font-semibold">Full Name</label>
              <div class="flex w-full ml-10">
                <input id="full_name" formControlName="full_name" type="text" class="input-field"
                  placeholder="Enter your full name" />
              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <label for class="px-1 text-xs font-semibold">Gender</label>
              <div class="flex w-full ml-1">
                <input type="radio" formControlName="gender" id="male" value="male" />
                <label class="ml-1" for="male">Male</label>
                <input class="ml-4" type="radio" formControlName="gender" id="female" value="female" />
                <label class="ml-1" for="female">Female</label>
              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <label for="email" class="px-1 text-xs font-semibold">Email</label>
              <div class="flex w-full ml-10">
                <input id="email" type="email" class="input-field" formControlName="email"
                  placeholder="Email address" />
              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <label for="birthdate" class="px-1 text-xs font-semibold">Date of birth</label>
              <div class="flex w-full ml-10">
                <input id="birthdate" type="text" formControlName="birthdate" class="input-field"
                  placeholder="Date of birth" />
              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <label for="contact" class="px-1 text-xs font-semibold">Phone Number</label>
              <div class="flex w-full ml-10">
                <input id="contact" type="text" formControlName="contact" class="input-field" placeholder="Phone number" />
              </div>
            </div>
          </div>
          <div class="flex -mx-2">
            <div class="flex items-center w-full gap-1 px-3 mb-6">
              <span>Do you have an account?</span>
              <a routerLink="/auth/sign-in" class="text-indigo-500">login here</a>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full">
              <button [disabled]="!signUpForm.valid" class="text-white bg-indigo-500 rounded-lg btn hover:bg-indigo-700 focus:bg-indigo-700"
                type="submit">
                REGISTER NOW
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
