@layer tailwind-base, primeng, tailwind-utilities, tailwind-components;


@import "@fontsource/inter/100.css";
@import "@fontsource/inter/200.css";
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";
@import "@fontsource/inter/900.css";

@import "tailwindcss/base" layer(tailwind-base);
@import "tailwindcss/components" layer(tailwind-components);
@import "tailwindcss/utilities" layer(tailwind-utilities);

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@layer tailwind-base {
  * {
    @apply box-border p-0 m-0 list-none scroll-smooth;
  }

  body {
    @apply min-h-screen font-inter;
  }
}

@layer tailwind-utilities {
  .form-group {
    @apply flex flex-col w-full;
  }
}

@layer tailwind-components {
  /* Input */
  .input-field {
    @apply block w-full mt-1 -ml-10 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  }

  .btn {
    @apply block w-full max-w-xs px-3 py-3 mx-auto font-semibold text-white rounded-lg;
  }

  .btn-green {
    @apply w-full bg-indigo-800 hover:bg-indigo-700;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
